:root{
  --color-blue: #1698d9;
  --color-blue--hover: #2EA8E6;
  --color-pink: #d91667;
  --color-pink--hover: #E52E7A;
  --color-yellow: #ffff66;
  --color-grey: #b3b3b3;
  --color-dark-grey: #666666;
}