.banner__item {
  margin-right: 80px;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 20px;
  @media (max-width: 1024px) {
    &:first-child {
      width: 100%;
      margin-right: 0;
    }
  }
    @media (max-width: 687px) {
    margin-right: 0;
    width: 100%;
  }
  }
  &.selected {
    .card{
      &:before{
        background-image: url('/border-select.svg');
      }}
    .mass {
      background-color: #D91667;
    }
    &:hover .subtitle{
      display: none;
    }
    &:hover .subtitle-alt{
      display: block;
    }
  }
  &.unavailable {
    .card{
      color: #b3b3b3;
      &:before{
      background-image: url('/border-unav.svg');
    }
      &:after{
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      background:linear-gradient(135deg,transparent 35px,#fff 0);
      opacity: 0.5;
      border-top-left-radius:10px;
    }
  }
    .mass {
      background-color: #b3b3b3;
    }
    .action {
      &-text{
        color: #FFFF66;
      }}
      .common-text {
        color: #b3b3b3;
      }
    }
  }
.card {
  width: 320px;
  height: 480px;
  background: linear-gradient(135deg,transparent 35px,#fff 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  margin-bottom: 15px;
  &:before{
    position: absolute;
    content: "";
    background-image: url('/border.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
}
.information {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 15px;
}
.headline {
  font-size: 48px;
}
.taste {
  font-weight: bold;
  margin-bottom: 15px;
}
.subtitle {
  font-weight: bold;
  font-size: 16px;
}
.pictures {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  height: 100%;
  &__img {
  position: absolute;
  left: -25px;
  bottom: -90px;
  }
}
.mass {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #1698d9;
  color: #ffffff;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 1;
}
.weight-unit {
  line-height: 1rem;
  font-size: 28px;
}
.action {
  text-align: center;
  &-text {
    color: #ffffff;
    font-size: 13px;
  }
}
.link {
  color: #2EA8E6;
  text-decoration: underline dashed;
  text-decoration-color: #2EA8E6;
  cursor: pointer;
  font-family: 'Trebuchet-Bold',sans-serif;
}
.subtitle-alt {
  display: none;
}